#textHienDai {
  overflow: hidden;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(214, 42, 42);
}

#textHienDai2 {
  display: inline-block;
  opacity: 0;
  animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) forwards;
  animation-delay: 1s;
}

@keyframes reveal {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
